@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat.woff") format("woff");
}

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
}

::selection {
	background-color: orange;
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: black;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
		url("../assets/images/backgrounds/background-2.jpg");
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(0px);
	overflow-y: hidden;
}
